<div class="card shadow-lg">
    <div class="card-header">
        <b>Menu</b>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="wrimagecard wrimagecard-topimage" [routerLink]="['../','professor']">
                    <div class="wrimagecard-topimage_header" align="center">
                        <i class="fas fa-chalkboard-teacher icones-cards"></i>
                    </div>
                    <div class="wrimagecard-topimage_title" align="center">
                        <b>Professores</b>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="wrimagecard wrimagecard-topimage" [routerLink]="['../','aluno']">
                    <div class="wrimagecard-topimage_header" align="center">
                        <i class="fas fa-graduation-cap icones-cards"></i>
                    </div>
                    <div class="wrimagecard-topimage_title" align="center">
                        <b>Alunos</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
