<div class="card shadow-lg">
    <div class="card-header">
        <div>
            <b>Aluno</b>
            <button class="btn btn-primary float-right jh-create-entity btn_status"
                    [routerLink]="['./new']">
                <fa-icon [icon]="'plus'"></fa-icon>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <jhi-alert></jhi-alert>
        </div>
    </div>

    <div class="card-body">
        <br/>

        <div class="table-responsive" *ngIf="alunos">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th>Login</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf ="alunos">
                    <tr *ngFor="let aluno of alunos; trackBy: trackIdentity">
                        <td>{{aluno.login}}</td>
                        <td>{{aluno.email}}</td>
                        <td>
                            <button class="btn btn-danger btn-circle" *ngIf="!aluno.activated"><i class="fas fa-minus-circle"></i></button>
                            <button class="btn btn-success btn-circle" *ngIf="aluno.activated"
                                    [disabled]="currentAccount.login === aluno.login">
                                <i class="fas fa-check-circle"></i>
                            </button>
                        </td>

                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['./', aluno.login, 'edit']"
                                        class="btn btn-info btn-sm"
                                        title="Visualizar">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                </button>

                                <button type="submit" (click)="deleteAluno(aluno)"
                                        class="btn btn-danger btn-sm" [disabled]="currentAccount.login === aluno.login"
                                        title="Delete">
                                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="alunos">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems"
                                [itemsPerPage]="itemsPerPage">
                </jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                                [pageSize]="itemsPerPage" [maxSize]="5"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="loadPage(page)">
                </ngb-pagination>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row justify-content-center text-right">
            <div class="col-md-12">
                <button type="submit" routerLink="../tela-inicial"
                        class="btn-amarelo-clean btn-warning-clean btn-sm-clean">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;&nbsp;Voltar
                </button>
            </div>
        </div>
    </div>
</div>
