<span [ngSwitch]="isAuthenticated()">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill" *ngSwitchCase="true">
        <!-- header -->
        <div class="navbar-header pl-2 pr-2 ml-3 text-center">
            <a class="navbar-brand m-0 w-100" href="#">
                <img class="pb-1" src="./../../../content/images/02.png" alt="lightning logo" width="30px">
                <span class="ml-1 pt-1">CRUD Universidade</span>
            </a>
        </div>
        <!-- sidebar toggler -->
        <div class="sidebar-toggler ml-auto mr-3">
            <a class="btn nav-link" (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
        </div>

        <!-- right menu toggler -->
        <div class="nav-toggler-right mr-2 d-md-none" ngbDropdown>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn nav-link"  id="dropdownBasicResp" ngbDropdownToggle aria-label="Open Profile Menu"
                    >
                        <img src="./../../../content/images/user.jpg" class="user-toggle" alt="">
                    </a>

                    <div ngbDropdownMenu aria-labelledby="dropdownBasicResp" class="teste"
                         style="margin-left: -9.85em; background-color: #fff; color: black">
                        <a class="dropdown-item" routerLink="settings"
                           routerLinkActive="active" style="color: black;">
                            <i class="fas fa-cog" ></i> Configurações
                        </a>

                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" style="color: black;">
                            <i class="fas fa-key"></i> Password
                        </a>

                        <a class="dropdown-item" (click)="logout()" style="color: black;">
                            <fa-icon [icon]="'sign-out-alt'"></fa-icon> Sair
                        </a>
                    </div>

                </li>
            </ul>
        </div>

        <!-- left box -->
        <ul class="navbar-nav flex-fill mt-1 align-items-center left-nav">
            <li class="nav-item navicon">
                <a class="btn nav-link" (click)="toggleSidebarPin()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>

        <!-- right menu -->
        <div class="collapse navbar-collapse right-nav" id="collapseBasic" ngbDropdown>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn nav-link"  id="dropdownBasic1" ngbDropdownToggle aria-label="Open Profile Menu"
                       >
                        <i class="far fa-user"></i>
                        <span class="link-text">Profile</span>
                    </a>

                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="teste"
                         style="margin-left: -9.85em; background-color: #fff; color: black">
                        <a class="dropdown-item" routerLink="settings"
                           routerLinkActive="active" style="color: black;">
                            <i class="fas fa-cog" ></i> Configurações
                        </a>

                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" style="color: black;">
                            <i class="fas fa-key"></i> Password
                        </a>

                        <a class="dropdown-item" (click)="logout()" style="color: black;">
                            <fa-icon [icon]="'sign-out-alt'"></fa-icon> Sair
                        </a>
                    </div>

                </li>
            </ul>
        </div>
    </nav>
</span>
